form {
    padding: 20px;
}

#receipt {
    margin-bottom: 20px;
}

input + span {
    position: relative;
}

input + span::after {
    position: absolute;
    content: "$";
    top: -31px;
    left: 3px;
}